Package: sysreport
Version: @VERSION@
Section: admin
Priority: optional
Architecture: all
Maintainer: Amir Hossein Khateri
Depends: bash
Description: Linux server audit and operations summary CLI
